- name: Update package cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_facts['os_family'] == "Debian"

- name: Install MySQL server and client
  apt:
    name:
      - mysql-server
      - mysql-client
      - python3-pymysql
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Install MySQL server (RedHat/CentOS)
  yum:
    name:
      - mysql-server
      - mysql
      - python3
      - python3-pip
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: Ensure PyMySQL is installed via pip (RedHat/CentOS)
  pip:
    name: PyMySQL
    executable: pip3
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: Start and enable MySQL service (Debian)
  systemd:
    name: mysql
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == "Debian"

- name: Start and enable MySQL service (RedHat/CentOS)
  systemd:
    name: mysqld
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == "RedHat"

- name: Wait for MySQL to start
  pause:
    seconds: 5

- name: Set MySQL socket path and config path for OS
  set_fact:
    mysql_socket_path: "{{ '/var/run/mysqld/mysqld.sock' if ansible_facts['os_family'] == 'Debian' else '/var/lib/mysql/mysql.sock' }}"
    mysql_config_path: "{{ '/etc/mysql/mysql.conf.d/mysqld.cnf' if ansible_facts['os_family'] == 'Debian' else '/etc/my.cnf' }}"

- name: Create MySQL database
  mysql_db:
    name: "{{ db_name }}"
    state: present
    login_unix_socket: "{{ mysql_socket_path }}"

- name: Create MySQL user
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "{{ db_name }}.*:ALL"
    host: "localhost"
    state: present
    login_unix_socket: "{{ mysql_socket_path }}"

- name: Create MySQL user for remote access (if needed)
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "{{ db_name }}.*:ALL"
    host: "%"
    state: present
    login_unix_socket: "{{ mysql_socket_path }}"

- name: Flush privileges
  mysql_query:
    login_db: mysql
    query: "FLUSH PRIVILEGES"
    login_unix_socket: "{{ mysql_socket_path }}"

- name: Configure MySQL for remote access (Debian)
  lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: "^bind-address"
    line: "bind-address = 0.0.0.0"
    state: present
  when: ansible_facts['os_family'] == "Debian"
  notify: restart mysql

- name: Configure MySQL for remote access (RedHat/CentOS)
  lineinfile:
    path: /etc/my.cnf
    regexp: "^bind-address"
    line: "bind-address = 0.0.0.0"
    state: present
  when: ansible_facts['os_family'] == "RedHat"
  notify: restart mysql
